.header {
    background-color: #177D49;
    color: white;
}
.header .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.header .logo {
    width: 200px;
}
.header .logo .link {
    text-decoration: none;
}
.header .logo .link .text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.header .titulo_pg {
    display: flex;
    flex-direction: column;
    margin: 40px 0 10px 0;
}
.header .titulo_pg .texto1{
    margin: 0;
}